<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.johnny.mapper.EmpMapper">


    <!--    <select id="selectByEid" resultType="com.johnny.pojo.Emp">-->
    <!--        select eid,emp_name empName,age from t_emp where eid=#{eid}-->
    <!--    </select>-->

    <resultMap id="one2one_first" type="com.johnny.pojo.Emp">
        <id property="eid" column="eid"></id>
        <result property="empName" column="emp_name"></result>
        <result property="age" column="age"></result>
    </resultMap>

    <select id="selectByEid" resultMap="one2one_first">
        select *
        from t_emp
        where eid = #{eid}
    </select>


    <resultMap id="one2many_first" type="com.johnny.pojo.Emp">
        <id property="eid" column="eid"/>
        <result property="age" column="age"/>
        <result property="empName" column="emp_name"/>
        <result property="dept.did" column="did"/>
        <result property="dept.deptName" column="dept_name"/>
    </resultMap>
    <!--    多对1的处理-->
    <select id="selectById2" resultMap="one2many_first">
        select *
        from t_emp e
                 left join t_dept d on e.did = d.did
        where e.eid = #{id}

    </select>


</mapper>